@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');


body {
  font-size: 20px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: left top;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

h1 {
  font-size: 3em;
  padding: 10px 0;
  line-height: 1.5em;
  font-weight: 300;
}

h2 {
  font-size: 2.4em;
  line-height: 1.5em;
  font-weight: 700;
  padding-bottom: 40px;
}

.main > p{
  padding-bottom: 150px;
}

p {
  font-size: 1.4em;
  color: #fff !important;
  line-height: 1.8em;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .4s;
}

a:hover {
  color: #7e79cc;
  transition: .4s;
}

.active {
  color: #dc3e76;
  font-weight: 400;
}

#signInButton, span{
  border: none;
  color:#dc3e76;
  font-weight: 400;
}

#signInButton,
span:hover {
  border: none;
  color:#7e79cc;
  font-weight: 400;

}

.nav-item {
  padding: 20px;
}

.mernLogo {
  height: 700px;
  width: 1200px;
  margin-top: 20px;
  margin-bottom: 180px;
}

.dropdown-item,
#signInButton,
#signOutButton {
  color: #dc3e76;
  padding: 15px;
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: .4s;
}
#signInButton {
  color: #fff !important;
}

#signInButton:hover{
  background-color: transparent !important;
  transition: .4s;
}

.dropdown-item:hover,
#signInButton:hover,
#signOutButton:hover {
  color: #7e79cc;
  background-color: #eee;
  cursor: pointer;
  transition: .4s;
}

#signInButton:active,
#signOutButton:active {
  color: #7e79cc;
  transition: .4s;
}

.body {
  padding: 0px 100px;
}

.header {
  padding: 30px;
}

.card h5,
p {
  color: #000;
}

.navbar.navbar-expand-lg.navbar-light {
  box-shadow: none;
}

.badge.rounded-pill.account {
  color: #fff;
  height: 35px;
  width: 35px;
  padding-top: 8px;
  transition: .2s;
}

.badge.rounded-pill.account:hover {
  color: #fbc8d4;
  background-color: #7e79cc;
  height: 35px;
  width: 35px;
  transition: .2s;
}

.fas {
  color: #fff;
  padding-top: 8px;
  transition: .2s;
}

.fas:hover {
  color: #7e79cc;
  transition: .2s;
}

.partneri {
  margin-top: 160px;
  margin-bottom: 200px;
}

.imgPartner {
  margin: auto;
}

.partnerLogo {
  height: auto;
  width: 120px;
  filter: blur(0px) grayscale(1);
  opacity: .4;
  transition: .4s;
}

.partnerLogo:hover {
  filter: blur(0px) grayscale(0);
  opacity: 1;
  transition: .4s;
}

.footer {
  margin-top: 150px !important;
}

.list-group{
  margin-top: 80px;
}

.main-predavanja{
  margin-top: 150px;
}

.main-predavanja > p{
  margin-bottom: 80px;
}

.usluge{
  margin-top: 120px;
  padding-left: 150px;
  padding-right: 150px;
}

.usluge .text{
  margin-bottom: 120px;
}

.card .col-auto > img{
  background-color: #fff;
  background-size: 10px;
}

.ikona{
  height: 220px;
  width: 220px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
}

.fas.fa-shopping-cart{
  cursor: pointer;
}